[[source]]
name = "pypi.ustc"
url = "https://pypi.mirrors.ustc.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
invoke = "*"
beem = "*"
unicodecsv = "*"
pandas = "*"
bs4 = "*"
markdown = "*"
zmail = "*"

[requires]
python_version = "3.7"
